/* GENERAL settings body */
body {
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
}
/* //general settings body */
/* class utility */
/*  star divider */
.divider-custom {
    margin: 1.25rem 0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divider-custom i {
  font-size: 5rem;
}
.divider-custom .divider-custom-line {
    width: 100%;
    max-width: 20rem;
    height: 0.25rem;
    background-color: white;
    border-radius: 1rem;
    display: flex;
}
.divider-custom div:first-child {
  margin-right: 3rem;
}
.divider-custom div:last-child {
  margin-left: 3rem;
  /* /star divider */
}
.bg_nav {
  background-color: #2C3E50;
  width: 100%;
}
.bg_jumbogreen {
  background-color: #1ABC9C;
  width: 100%;
}
.bg_jumbogreen {
  color: white;
}
.btn {
  background-color: #1ABC9C;
}
/* /class utility */
/* nav bar */
.bg_nav h3 {
  line-height: 40px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}
.nav > li {
  padding: 1rem;
}
.nav > li > a {
  color: white;
}
.nav > li > a:hover{
  color: white;
  background-color: #1ABC9C;
}
/* / nav bar */
/* jumbotron */

.jumbotron img {
  margin-top: 10rem;
  max-height: 40rem;
}
.jumbotron h1 {
  text-transform: uppercase;
  font-weight: bolder;
}
.jumbotron p {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: bolder;
}
/* main sections */
/* 6 icons sections */
.marketing img {
  border-radius: 1.9rem;
}
.marketing {
  padding: 4.5rem 0;
}
.marketing img {
  display: block;
  width: 100%;
  height: auto;
  padding: 0;
}
.card {
  padding: 2rem;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: #1ABC9C;
  border-radius: 1.9rem;
}
.plus_icon {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card:hover .overlay {
  opacity: 0.9;
}
/* about section */
.bg_jumbogreen  h2 {
  text-transform: uppercase;
  padding-top: 5rem;
  font-size: 5rem;
}
.btn_box {
  position: relative;
  padding: 3rem 0;
}
.btn_download {
  position: relative;
  display: inline-block;
  border: 1px solid white;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}
.btn_download:hover {
  background-color: white;
  color: #1ABC9C;
}
.fa-download {
  padding: 0.5rem;
}
/* /about section */
/* contact form */
.divider-custom.black_line .divider-custom-line {
  background-color: black;
}
.form-group textarea, #inputname, #inputemail, #phonenumber {
  font-size: 20px;
  border: 0;
  box-shadow: none;
  border-radius: 0;
  border-bottom: 1px solid #c8c8c8;
  padding: 0;
}
.padding-btn {
  padding-bottom: 3rem;
}
/* /contact form */
/* /main */
/* footer */
footer {
  color: white;
}
footer h4 {
  text-transform: uppercase;
}
 footer .bg_nav p {
   text-align: center;
   margin: 0;
   padding-top: 5rem;
 }
.bg_nav_footer {
  background-color: #3A546D;
  width: 100%;
}
.bootstrap_link {
  text-decoration: none;
  color: #1ABC9C;
}
.bootstrap_link:hover {
  color: white;
  text-decoration: none;
}
footer [class*="col-"] {
  padding: 2rem 0;
}
footer .btn {
  margin: 1.5rem;
  font-size: 3rem;
  border: 1px solid white;
  background-color: inherit;
  border-radius: 50%;
}
footer .btn:hover {
  background-color: #1ABC9C;
  color: white;
}
.bg_nav_footer p{
  padding-top: 2rem;
}
/* /footer */
